<%= render 'shared/pages_title', title: "Create a New Recipe" %>
<%= render 'shared/pages_title', title: "New Recipe" %>
<h2 class="card-title">New Recipe</h2>
<div class="card-body">
  <%= render 'form' %>
</div>
