<footer class="footer">
	<small>
		<strong><a href="http://www.mashrurhossain.com/">Matacode development training</a></strong> by <em><a href="http://www.mashrurhossain.com/"> Usman ali</a></em>
	</small>
    <nav>
    	<ul>
    		<li><%= link_to "about", '#' %></li>
    	</ul>
    </nav>
 </footer>   	